*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: 0;
}

span:hover {
  color: #B82121;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #B82121;
}

.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1272px;
  padding: 0 15px;
}
.wrap_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap_footer {
  max-width: 1259px;
}

.title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
}
.title_big {
  font-size: 55px;
  line-height: 70px;
}
.title_big span {
  color: #B82121;
}
.title_medium {
  font-size: 48px;
}

.logo {
  background: url(../img/logo.svg);
  width: 133px;
  height: 66px;
}

/*header styles*/
.header {
  position: absolute;
  top: 10px;
  width: 100%;
}
.header__wrap-contacts {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__social-row {
  display: flex;
  gap: 15px;
}
.header__social-link_tel {
  display: none;
  width: 16px;
  height: 16px;
}
.header .icon-phone-call {
  margin-right: 10px;
}
.header__tel-number {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
}
.header__burger {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;
}
.nav__link {
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}

.nav-mobile {
  display: none;
}

/*hero-section styles*/
.hero {
  background-image: linear-gradient(#000, 5%, #fff), url(../img/hero-bg.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 206px 0 176px 0;
}
.hero__title-block {
  max-width: 607px;
  width: 100%;
}
.hero__title {
  margin-bottom: 95px;
}
.hero__text {
  max-width: 501px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 35px;
}
.hero__btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  padding: 21px 49px 20px;
  border-radius: 5px;
  background-color: #B82121;
}
.hero__btn:hover {
  opacity: 0.65;
  color: #FFF;
}

/*menu styles*/
.menu {
  background-color: #000;
}
.menu__desc {
  padding: 50px 0 62px;
}
.menu__list {
  display: flex;
  gap: 5px;
  list-style: none;
}
.menu__item-link {
  display: block;
  height: 508px;
  background-position: center;
  background-size: cover;
  height: 508px;
  width: 288px;
}
.menu__item-link_1 {
  background-image: url("../img/gal1.png");
}
.menu__item-link_2 {
  background-image: url("../img/gal2.png");
}
.menu__item-link_3 {
  background-image: url("../img/gal3.png");
}
.menu__item-link_4 {
  background-image: url("../img/gal4.png");
}
.menu__item-link_5 {
  background-image: url("../img/gal5.png");
}
.menu__item-link_6 {
  background-image: url("../img/gal6.png");
}
.menu__item-link_7 {
  background-image: url("../img/gal7.png");
}
.menu__item-link_8 {
  background-image: url("../img/gal8.png");
}
.menu__item {
  position: relative;
  height: 100%;
}
.menu__btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px 55px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
  border-radius: 5px;
  background-color: #000;
  opacity: 0.65;
  border: 2px solid #fff;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.menu__btn:hover {
  display: inline-block;
  border: 2px solid #B82121;
}
.menu__name {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 800;
  z-index: 1;
  white-space: nowrap;
}

.desc-block {
  background-color: #000;
  text-align: center;
}
.desc-block__title {
  margin-bottom: 25px;
}
.desc-block__text {
  font-size: 16px;
  font-weight: 400;
  max-width: 632px;
  width: 100%;
  margin: 0 auto;
}

/*gallery styles*/
.gallery {
  position: relative;
  background-color: #000;
}
.gallery__desc {
  padding: 144px 0 62px;
}
.gallery__pic {
  transform: rotate(-360deg);
  position: absolute;
  top: 90px;
  left: 0;
  width: 258px;
  height: 223px;
  opacity: 0.3;
}
.gallery__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  position: relative;
}
.gallery__img:hover {
  transform: scale(1.1);
}

/*foter styles*/
.footer {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding: 35px 0;
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.footer__slash {
  width: 1px;
  height: 70px;
  background-color: #393939;
}
.footer__contacts-row {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__contacts-row .icon {
  font-size: 20px;
}
.footer__tel {
  font-weight: 700;
  font-size: 21px;
}
.footer__copyright-row {
  color: #E0E0E0;
  display: flex;
  justify-content: space-between;
}
.footer__copyright-row a:hover {
  color: #B82121;
}
.footer__copyright-left {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 940px) {
  .header__contacts {
    display: none;
  }
  .header__social-link_tel {
    display: inline-block;
  }
  .hero {
    padding-bottom: 150px;
  }
  .hero__title-block {
    text-align: center;
    margin: 0 auto;
  }
  .menu {
    padding: 0 10px;
  }
  .gallery {
    padding: 0 10px;
  }
  .footer__tel {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .wrap {
    padding: 0 10px;
  }
  .wrap_header.is-active {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row-reverse;
    padding: 10px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    overflow: auto;
    text-transform: capitalize;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: transparent;
    position: relative;
  }
  .header__burger:hover {
    background-color: #B82121;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    left: 0px;
    right: 0px;
    width: 29px;
    margin: 0 auto;
    color: #FFF;
  }
  .header__burger::before {
    height: auto;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 12px;
    bottom: 12px;
  }
  .header__burger::after {
    height: 3px;
    background-color: #fff;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  .header__burger.is-active::before {
    transform: rotate(45deg) translate(7px, 7px);
    height: 3px;
    border: none;
    background: currentColor;
    transition: transform 0.25s ease;
  }
  .header__burger.is-active::after {
    transform: rotate(-45deg);
    transition: transform 0.25s ease;
  }
  .header__logo.is-active {
    display: none;
  }
  .header__wrap-contacts.is-active {
    display: none;
  }
  .header__social-row.is-active {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-mobile.is-active {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
  }
  .nav-mobile.is-active ul {
    list-style-type: none;
  }
  .nav-mobile__item {
    margin-bottom: 30px;
  }
  .nav-mobile__link:hover {
    color: #B82121;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__item-link {
    width: 100%;
  }
  .menu__btn {
    padding: 20px 40px;
  }
  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    text-align: center;
    padding: 30px 0;
  }
  .footer__list {
    flex-direction: column;
    margin-bottom: 32px;
    gap: 11px;
  }
  .footer__slash {
    display: none;
  }
  .footer__contacts-row {
    flex-direction: column;
  }
  .footer__copyright-row {
    flex-direction: column;
    gap: 11px;
  }
  .footer__copyright-left {
    flex-direction: column;
    gap: 11px;
  }
}
@media screen and (max-width: 580px) {
  .menu__item-link {
    width: 100%;
  }
  .menu__btn {
    padding: 20px 55px;
  }
  .gallery {
    padding-bottom: 25px;
  }
  .gallery__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery__img:hover {
    transform: none;
  }
  .gallery__desc {
    padding: 50px 0 30px;
  }
}
@media screen and (max-width: 375px) {
  .title_big {
    font-size: 32px;
  }
  .title_medium {
    font-size: 28px;
  }
  .hero__title {
    line-height: 40px;
    margin-bottom: 60px;
  }
  .hero__text {
    margin-bottom: 30px;
  }
  .menu__item-link {
    height: 300px;
  }
  .menu__name {
    transform: translate(-50%, -90%);
  }
}/*# sourceMappingURL=styles.css.map */