*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

span {
    &:hover {
        color: #B82121;
    }
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    &:hover {
        color: #B82121;
    }
}

.wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1272px;
    padding: 0 15px;
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_footer {
        max-width: 1259px;
    }
}

.title {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    &_big {
        font-size: 55px;
        line-height: 70px;
        
        & span {
            color: #B82121;
        }
    }
    &_medium {
        font-size: 48px;
    }
}

.logo {
    background: url(../img/logo.svg);
    width: 133px;
    height: 66px;
}

/*header styles*/
.header {
    position: absolute;
    top: 10px;
    width: 100%;
    &__wrap-contacts{
        display: flex;
        align-items: center;
        gap: 32px;
    }
    &__social-row {
        display: flex;
        gap: 15px;
    }
    &__social-link {
        &_tel {
            display: none;
            width: 16px;
            height: 16px;
        }
    }
    & .icon-phone-call {
        margin-right: 10px;
    }
    &__tel-number {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
    }
    &__burger {
        display: none;
    }
}

.nav {
    &__list {
        display: flex;
        justify-content: center;
        gap: 50px;
        list-style: none;
    }
    &__link {
        color: #fff;
        font-weight: 500;
        text-transform: capitalize;
    }
}

.nav-mobile {
    display: none;
}

// .btn-burger {
//     display: none;
    
// }

/*hero-section styles*/
.hero {
    background-image: linear-gradient(#000, 5%, #fff),
                    url(../img/hero-bg.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 206px 0 176px 0;
    // &::before {
    //     content: "";
    //     height: 183px;
    //     background: linear-gradient(#000 32%, #fff);
    //     position: absolute;
    //     z-index: 20;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     opacity: 60%;

    // }
    &__title-block {
        max-width: 607px;
        width: 100%;
    }
    &__title {
        margin-bottom: 95px;
    }
    &__text {
        max-width: 501px;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 35px;
    }
    &__btn {
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 900;
        padding: 21px 49px 20px;
        border-radius: 5px;
        background-color: #B82121;
        &:hover {
            opacity: .65;
            color: #FFF;
        }
    }
}

/*menu styles*/
.menu {
    background-color: #000;
    &__desc {
        padding: 50px 0 62px;
    }
    &__list {
        display: flex;
        gap: 5px;
        list-style: none;
    }
    &__item-link {
        display: block;
        height: 508px;
        
        background-position: center;
        background-size: cover;
        height: 508px;
        width: 288px;
        &_1 {
            background-image: url("../img/gal1.png");
        }
        &_2 {
            background-image: url("../img/gal2.png");
        }
        &_3 {
            background-image: url("../img/gal3.png");
        }
        &_4 {
            background-image: url("../img/gal4.png");
        }
        &_5 {
            background-image: url("../img/gal5.png");
        }
        &_6 {
            background-image: url("../img/gal6.png");
        }
        &_7 {
            background-image: url("../img/gal7.png");
        }
        &_8 {
            background-image: url("../img/gal8.png");
        }
    }
    &__item {
        // max-width: 288px;
        position: relative;
        height: 100%;
        
    }
    // &__item-img {
    //     height: 508px;
    // }
    &__btn {
        box-sizing: border-box;
        display: inline-block;
        padding: 20px 55px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 900;
        font-size: 14px;
        border-radius: 5px;
        background-color: #000;
        opacity: 0.65;
        border: 2px solid #fff;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        &:hover {
            display: inline-block;
            border: 2px solid #B82121;
        }
    }
    &__name {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: 800;
        z-index: 1;
        white-space: nowrap;
    }
}


.desc-block {
    background-color: #000;
    
    text-align: center;
    &__title {
        margin-bottom: 25px;
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        max-width: 632px;
        width: 100%;
        margin: 0 auto;
    }
    
}

/*gallery styles*/
.gallery {
    position: relative;
    background-color: #000;
    &__desc {
        padding: 144px 0 62px;
    }
    &__pic {
        transform: rotate(-360deg);
        position: absolute;
        top: 90px;
        left: 0;
        width: 258px;
        height: 223px;
        opacity: 0.3;
    }
    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: 2;
        gap: 2px;
        position: relative;
    }
    &__img {
        &:hover {
            transform: scale(1.1);
        }
    }
}



/*foter styles*/
.footer {
    background-color: #000;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 35px 0;
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__slash {
        width: 1px;
        height: 70px;
        background-color: #393939;
    }
    &__contacts-row {
        display: flex;
        gap: 10px;
        align-items: center;
        & .icon {
            font-size: 20px;
        }
    }
    &__tel {
        font-weight: 700;
        font-size: 21px;
    }
    &__copyright-row {
        color: #E0E0E0;
        display: flex;
        justify-content: space-between;
        & a:hover {
            color: #B82121;
        }
    }
    &__copyright-left {
        display: flex;
        gap: 30px;
    }
}

@media screen and (max-width:940px) {
    .header {
        &__contacts {
            display: none;
        }
        &__social-link {
            &_tel {
                display: inline-block;
            }
        }
    }
    .hero {
        padding-bottom: 150px;
        &__title-block {
            text-align: center;
            margin: 0 auto;
        }
    }
    .menu {
        padding: 0 10px;
    }
    .gallery {
        padding: 0 10px;
    }
    .footer__tel {
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {
    .wrap {
        padding: 0 10px;
        &_header {
        &.is-active {
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: row-reverse;
            padding: 10px;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 100;
            overflow: auto;
            text-transform: capitalize;
            }
        }
    }
    .header {
        &__nav {
            display: none;
        }
        &__burger {
            display: block;
            cursor: pointer;
            width: 48px;
            height: 48px;
            border-radius: 12px;
            background: transparent;
            position: relative;
            &:hover {
                background-color: #B82121;
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                left: 0px;
                right: 0px;
                width: 29px;
                margin: 0 auto;
                color: #FFF;
            }
            &::before {
                height: auto;
                border-top: 3px solid #fff;
                border-bottom: 3px solid #fff;
                top: 12px;
                bottom: 12px;
            }
            &::after {
                height: 3px;
                background-color: #fff;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
            }
            &.is-active::before {
                transform: rotate(45deg) translate(7px, 7px);
                height: 3px;
                border: none;
                background: currentColor;
                transition: transform 0.25s ease;
            }
            &.is-active::after {
                transform: rotate(-45deg);
                transition: transform 0.25s ease;
            }
        }
        &__logo {
            &.is-active {
                display: none;
            }
        }
        &__wrap-contacts {
            &.is-active {
                display: none;
            }
        }
        &__social-row {
            &.is-active {
                display: none;
            }
        }
    }
    // .btn-burger {
    //     display: block;
    //     &.is-ative {

    //     }
    // }
    .nav-mobile {
        display: none;
        &.is-active {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: 30px;
            & ul{
                list-style-type: none;
            }
        }
        &__item {
            margin-bottom: 30px;
        }
        &__link {;
            &:hover {
                color: #B82121;
            }
            
        }
    }
    .menu {
        &__list {
            flex-direction: column;
        }
        &__item-link {
            width: 100%;
        }
        &__btn {
            padding: 20px 40px;
        }
    }
    .gallery {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
        .footer {
            text-align: center;
            padding: 30px 0;
    
            &__list {
                flex-direction: column;
                margin-bottom: 32px;
                gap: 11px;
            }
    
            &__slash {
                display: none;
            }
    
            &__contacts-row {
                flex-direction: column;
            }
    
            &__copyright-row {
                flex-direction: column;
                gap: 11px;
    
            }
    
            &__copyright-left {
                flex-direction: column;
                gap: 11px;
            }
        }
}
@media screen and (max-width:580px) {
    .menu {
            &__item-link {
                width: 100%;
            }
            &__btn {
                padding: 20px 55px;
            }
        }
        .gallery {
            padding-bottom: 25px;
            &__list {
                grid-template-columns: repeat(1, 1fr);
            }
            &__img:hover {
                transform: none;
            }
            &__desc {
                padding: 50px 0 30px;
            }
        }
}

@media screen and (max-width:375px) {
    .title {
        &_big {
            font-size: 32px;
        }
        &_medium {
            font-size: 28px;
        }
    }
    .hero {
        
        &__title {
            
            line-height: 40px;
            margin-bottom: 60px;
        }
        &__text {
            margin-bottom: 30px;
        }
    }
    .menu {
        &__item-link {
            // width: 355px;
            height: 300px;
        }
        &__name {
            transform: translate(-50%, -90%);
        }
    }
    // .gallery {
    //     padding-bottom: 25px;
    //     &__list {
    //         grid-template-columns: repeat(1, 1fr);
    //     }
    //     &__img:hover {
    //         transform: none;
    //     }
    //     &__desc {
    //         padding: 50px 0 30px;
    //     }
    // }
    
}